<!DOCTYPE html>
<html lang="en" class="main-app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./assets/css/global.css">
    <link rel="stylesheet/less" type="text/css" href="./style.less">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Torrz</title>
    <script type="text/javascript" src="libs/app.mdl.js"></script>
    <script type="text/javascript" src="libs/jquery.mdl.js"></script>
    <script type="text/javascript" src="libs/template.lib.js"></script>
    <script type="text/javascript" src="libs/less.min.js"></script>
    <script type="text/javascript" src="libs/webtorrent.mdl.js"></script>
    <script type="text/javascript" src="libs/torrz.lib.js"></script>
</head>
<body class="body-main themed-all load-all">
    <h1><code>&lt;!&gt;</code> Error not loaded!</h1>
</body>
</html>