* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

html, body {
    height: 100%;
    margin: 0;
}

body {
    user-select: none;
    background-size: cover;
    overflow: hidden;
}

.right {
    position: relative;
    float: right;
    margin-right: 20px;
}

.win-btn {
    display: none;
}